html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

body {
  padding: 25px;
}

hr {
  margin: 2rem auto;
}

nav a {
  margin-right: 15px;
  text-transform: uppercase;
}

nav .active {
  font-weight: 600;
  font-style: italic;
}